/* Gilroy Font Family */

// Bold Weight
@font-face {
    font-family: "Gilroy";
    font-weight: 700;
    src: url("../assets/fonts/Gilroy-Bold.woff2") format("woff2"),
         url("../assets/fonts/Gilroy-Bold.woff") format("woff");
  }

// Semi-Bold Weight
@font-face {
    font-family: "Gilroy";
    font-weight: 600;
    src: url("../assets/fonts/Gilroy-SemiBold.woff2") format("woff2"),
         url("../assets/fonts/Gilroy-SemiBold.woff") format("woff");
  }

// Regular Weight
@font-face {
    font-family: "Gilroy";
    font-weight: 400;
    src: url("../assets/fonts/Gilroy-Regular.woff2") format("woff2"),
         url("../assets/fonts/Gilroy-Regular.woff") format("woff");
  }