/* Color Scheme */
/* Gilroy Font Family */
@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  src: url("../assets/fonts/Gilroy-Bold.woff2") format("woff2"), url("../assets/fonts/Gilroy-Bold.woff") format("woff");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  src: url("../assets/fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../assets/fonts/Gilroy-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  src: url("../assets/fonts/Gilroy-Regular.woff2") format("woff2"), url("../assets/fonts/Gilroy-Regular.woff") format("woff");
}
/* Buttons */
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1rem;
}
.btn--cta {
  background-color: #e5e6ec;
  color: #00c2ff;
  border-radius: 8px;
  padding: 22px 38px;
  line-height: 1;
}
.btn--link {
  position: relative;
  background-color: transparent;
  color: #e5e6ec;
  line-height: 1.5;
}
.btn--link::before, .btn--link::after {
  content: "";
  position: absolute;
}
.btn--link::before {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
}
.btn--link::after {
  right: -25px;
  top: 50%;
  transform: translateY(-50%) translateX(0);
  width: 15px;
  height: 15px;
  background-image: url(../assets/img/btn-arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation: moveArrow 0.6s ease-in-out alternate infinite paused;
}
.btn--link:hover::after {
  animation-play-state: running;
}

/* Link Button Animation */
@keyframes moveArrow {
  0% {
    transform: translateY(-50%) translateX(0);
  }
  100% {
    transform: translateY(-50%) translateX(10px);
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gilroy", sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}
@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 990px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    max-width: 1140px;
  }
}
@media only screen and (min-width: 1600px) {
  .container {
    max-width: 1440px;
  }
}

ul {
  list-style: none;
}
ul a {
  text-decoration: none;
}

/* Hero */
.hero {
  position: relative;
  z-index: 1;
  padding: 15px 0 140px;
}
@media only screen and (min-width: 768px) {
  .hero {
    padding: 15px 0 175px;
  }
}
@media only screen and (min-width: 992px) {
  .hero {
    padding: 15px 0 0;
  }
}
.hero::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url(./../../assets/img/wave-mobile.svg);
}
@media only screen and (min-width: 992px) {
  .hero::before {
    background-position: center;
    background-image: url(./../../assets/img/wave.svg);
    top: -15px;
  }
}
.hero__logo {
  display: block;
  width: 100%;
  max-width: 127px;
}
.hero__inner {
  display: flex;
  flex-direction: column-reverse;
}
@media only screen and (min-width: 992px) {
  .hero__inner {
    flex-direction: row;
    padding: 135px 0 50px;
  }
}
.hero__content {
  color: #ffffff;
  text-align: center;
  max-width: 605px;
  margin: 0 auto;
  flex: 1;
}
@media only screen and (min-width: 992px) {
  .hero__content {
    text-align: left;
  }
}
.hero__content h1 {
  font-size: clamp(40px, 3vw, 56px);
  font-weight: 700;
  line-height: clamp(40px, 3vw, 60px);
  margin: 0 0 24px;
}
.hero__content p {
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  margin: 0 0 38px;
}
@media only screen and (min-width: 768px) {
  .hero__content ul li {
    display: inline-block;
  }
}
.hero__content ul li:first-child {
  margin: 0 0 28px;
}
@media only screen and (min-width: 768px) {
  .hero__content ul li:first-child {
    margin: 0 28px 0 0;
  }
}
.hero__img {
  flex: 1;
  padding: 43px 0;
}
@media only screen and (min-width: 992px) {
  .hero__img {
    padding: 0 0 0 43px;
  }
}
.hero__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: 0 auto;
  max-width: 500px;
}
@media only screen and (min-width: 992px) {
  .hero__img img {
    max-width: 550px;
  }
}
@media only screen and (min-width: 1600px) {
  .hero__img img {
    max-width: 728px;
  }
}

/* Features */
.features {
  padding: 60px 0;
}
@media only screen and (min-width: 992px) {
  .features {
    padding: 0;
  }
}
.features h2 {
  font-size: clamp(34px, 2vw, 40px);
  line-height: clamp(42px, 2vw, 48px);
  font-weight: 700;
  text-align: center;
}
.features__inner {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 992px) {
  .features__inner {
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 0;
  }
}
.features__item {
  text-align: center;
  padding: 0 25px;
  margin: 0 0 40px;
}
.features__item img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.features__item figcaption h4 {
  font-size: 24px;
  color: #220d4e;
  line-height: 32px;
  margin: 0 0 25px;
}
.features__item figcaption p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  max-width: 275px;
  margin: 0 auto;
}

/* Contact */
.contact {
  padding: 60px 0;
}
.contact h2 {
  font-size: clamp(34px, 2vw, 40px);
  line-height: clamp(42px, 2vw, 48px);
  font-weight: 700;
  text-align: center;
  margin: 0 0 80px;
}
.contact .form {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
}
.contact .form__group {
  position: relative;
  flex: 1 1 100%;
  margin: 10px;
  min-height: 48px;
}
@media only screen and (min-width: 768px) {
  .contact .form__group {
    flex: 1 1 calc(50% - 20px);
  }
}
.contact .form__group label {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  font-size: 16px;
  color: #706a80;
  transform-origin: 0 0;
  transition: transform 0.3s;
  pointer-events: none;
}
.contact .form__group--select::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../assets/img/select-arrow.svg);
}
.contact .form__group--submit {
  flex-basis: 100%;
  text-align: center;
}
.contact .form__group--submit .btn {
  font-size: 16px;
  font-weight: 400;
  border-radius: 8px;
  background-color: #220d4e;
  color: #ffffff;
  padding: 10px 20px;
  border: 2px solid transparent;
  transition: background-color 0.2s ease-in-out;
  width: 100%;
  max-width: 100%;
}
@media only screen and (min-width: 768px) {
  .contact .form__group--submit .btn {
    max-width: 197px;
  }
}
@media only screen and (min-width: 992px) {
  .contact .form__group--submit .btn {
    max-width: 97px;
  }
}
.contact .form__group--submit .btn:hover {
  background-color: rgba(34, 13, 78, 0);
  color: #220d4e;
  border-color: currentColor;
}
.contact .form__control {
  display: block;
  box-shadow: 0px 1px 2px rgba(0, 51, 99, 0.08);
  border-radius: 8px;
  width: 100%;
  height: 100%;
  padding: 1rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #220d4e;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #e5e6ec;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.contact .form__control:focus {
  outline: none;
}
.contact .form__control::placeholder {
  color: transparent;
}
.contact .form__control:invalid {
  border: 1px solid #dc3545;
}
.contact .form__control:focus + label, .contact .form__control:not(:placeholder-shown) ~ label {
  transform: translateY(-20px) scale(0.75);
  opacity: 0.75;
}

/*# sourceMappingURL=styles.css.map */
